p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; color: white;
}
td {
    text-align: center;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: blue;text-align: center;
}
h2 {
    text-align: center;
}
@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }
    100% {
        background-color: #864cbf
    }
}

body {
    -webkit-animation: bgcolor 10s infinite;
    animation: bgcolor 5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

img {
    border: 5px solid rgb(43, 24, 150);
  }

table {
    margin:auto; border: 2.5px solid white;
}
label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:white
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:blue
}
caption{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:blue; font-size: x-large;
}
header{
    background-color: white; padding: 5px;border: 5px solid rgb(43, 24, 150);
}
.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  /* On mouse-over */
  .btn:hover {background: rgb(116, 159, 223);}
  
  .success {color: rgb(255, 255, 255);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration: none;}
  .info {color: rgb(255, 255, 255);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration: none;}
  .warning {color: rgb(255, 255, 255);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration: none;}
  .danger {color: rgb(255, 255, 255);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration: none;}
  .default {color: rgb(255, 255, 255);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration: none;}

  .transparent {
    background-color:rgba(54, 54, 54, 0.4); padding-left: 20px;padding-bottom: 10px;padding-top: 5px; 
}

  .block{
    background-color:rgb(54, 54, 54);
}

.navigation{
    background-color:rgb(54, 54, 54);
    
}